@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap);

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html body {
    height: 100%;
}

i {
    padding: 10px;
}

img{
    height: fit-content;
    width: fit-content;
}

.header{

    background-color: cadetblue;
    color: azure;
    overflow: hidden;


    padding: 20px 10px;


    top: 0;
    width: 100%;

}
.heder-right{
    padding: 20px;
    float: right;

}

.heder-right a{
    font-size: 20px;
    padding: 10px;
    color: inherit;
    border-radius: 2px;
    text-decoration: none;
}

.heder-right a:hover{
    background-color: #4a797c;
}


.logo {
    float: left;
    margin: 0;
    width: fit-content;
    font-size: 20px;
    color: azure;
    border: azure solid 2px;
    border-radius: 4px;
    padding: 10px;
    font-weight: bolder;

}



.intro{

    text-align: center;
    margin: 30px auto;
    transition: 1s;
    height:100%;
    width:max-content;
    border-radius: 5px;
    padding: 50px;
    border: black solid 2px;


}

.title{
    margin: 0 auto;

    font-size: 50px;
    width: fit-content;
    height: fit-content;
}

.subnote{
    margin: 0 auto;
    font-size: 20px;
}
.main{
    margin:0;
    width: 100%;
}
.about{
    margin: 30px;
    padding: 50px;
    width:auto;
    height: max-content;
    border-radius: 5px;
    border: black solid 2px;

}
.about h1{

    padding: 20px;
    text-decoration:  Underline;
    font-weight: bolder;
}

.abp{
    text-align: right;

    position: relative;
    top:0;
    display: inline-block;
    padding: 20px;
    width: 60%;
    font-weight: bold;
}

.abimg{
    display: inline-block;
    align-content: center;
    margin: 30px;


}
.abimg img{

    padding:20px;
    margin: 10px auto;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    border: black solid 2px;
}

.banner{
    width: 100%;
    margin: 0 auto;
    display: block;
}


.section-left{
    float: left;

}


.section-right{
    float:right;


}
.inblock-display{
    display: inline-block;
    width: auto;
    margin: 30px;
    padding: 50px;
    border-radius: 5px;
    border: black solid 2px;
}

.intro.new{

    width: 90%;
}

.proj{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       width: 25%;

}



.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}